body {
  font-family: sans-serif;
}

.tile {
  display: block;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100%;
  margin: 5px;
  box-shadow: -5px 5px 3px #888888;
}

.board {
  background-color: yellow;
  opacity: 0.4;
  transform: rotate(7deg);
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.arrow {
  font-size: 36px;
}

.board {
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10px 10px 5px #888888;
}

.title {
  text-align: center;
  font-size: 48px;
  margin: 0;
  margin-top: 40px;
}

.subtitle {
  text-align:center;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
}
