body {
  font-family: sans-serif;
}

.tile {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 2px;
  box-shadow: -3px 3px 0px #888888;
}

.board {
  background-color: #F7F579;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10px 10px 2px #888888;
  display: none;
}

.rotate {
  animation-duration: 120s;
  animation-name: wowrotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.first-rotate {
  animation-duration: 1s;
  animation-name: firstrotate;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes firstrotate{
  from {
     transform: rotateY(0deg);
  }
  to {
     transform: rotateY(360deg);
  }
}

.select-player {
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10px 10px 2px #888888;
}

.winner {

}

.hunter {
  background-image: url(../images/hunter.png);
  background-size: 70px 70px;
}

.sherif {
  background-image: url(../images/sherif.png);
  background-size: 70px 70px;
}

.sarah {
  background-image: url(../images/sarah.jpeg);
  background-size: 70px 70px;
}

.jaclyn {
  background-image: url(../images/jaclyn.png);
  background-size: 70px 70px;
}

.shambhavi {
  background-image: url(../images/shambhavi.png);
  background-size: 70px 70px;
}

.seba {
  background-image: url(../images/seba.png);
  background-size: 70px 70px;
}

.mihai {
  background-image: url(../images/mihai.jpeg);
  background-size: 70px 70px;
}

.james {
  background-image: url(../images/james.jpeg);
  background-size: 70px 70px;
}

.alivia {
  background-image: url(../images/alivia.jpeg);
  background-size: 70px 70px;
}

.cyrus {
  background-image: url(../images/cyrus.jpeg);
  background-size: 70px 70px;
}

.eddie {
  background-image: url(../images/eddie.jpeg);
  background-size: 70px 70px;
}

.kevin {
  background-image: url(../images/kevin.jpeg);
  background-size: 70px 70px;
}

.victor {
  background-image: url(../images/victor.jpeg);
  background-size: 70px 70px;
}

.github {
  background-image: url(../images/github.png);
  background-size: 70px 70px;
}

.javascript {
  background-image: url(../images/javascript.jpg);
  background-size: 70px 70px;
}

.ruby {
  background-image: url(../images/ruby.png);
  background-size: 70px 70px;
}

.sinatra {
  background-image: url(../images/sinatra.jpeg);
  background-size: 70px 70px;
}

.heroku {
  background-image: url(../images/heroku.png);
  background-size: 70px 70px;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.draggable {
  display: none;

}

.arrow {
  font-size: 36px;
}

.title {
  text-align: center;
  font-size: 48px;
  margin: 0;
  margin-top: 40px;
  text-shadow: 2px 2px 2px #888888;
}

.subtitle {
  text-align:center;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  text-shadow: 1px 1px 2px #888888;
}

.title, .subtitle, .board, .player-select {
  transform: skew(0deg,3deg);
}

@keyframes wowrotate{
  from {
     transform: rotate(0deg);
  }
  to {
     transform: rotate(360deg);
  }
}

.player-select div:hover {
  opacity: 0.5;
}

