body {
  font-family: sans-serif;
}

.tile {
  display: block;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100%;
  margin: 2px;
  box-shadow: -3px 3px 0px #888888;
}

.board {
  background-color: yellow;
  opacity: 0.4;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.arrow {
  font-size: 36px;
}

.board {
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10px 10px 2px #888888;
}

.title {
  text-align: center;
  font-size: 48px;
  margin: 0;
  margin-top: 40px;
  text-shadow: 2px 2px 2px #888888;
}

.subtitle {
  text-align:center;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  text-shadow: 1px 1px 2px #888888;
}

.title, .subtitle, .board {
  transform: skew(0deg,3deg);
}


.board {
  animation-duration: 2000s;
  animation-name: wowrotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wowrotate{
  from {
     transform: rotate(0deg);
  }
  to {
     transform: rotate(360deg);
  }
}
